<h1>Detalle de Producto</h1>

<h2>Nombre:</h2> <%= @products.name %>

<h2>Ref:</h2> <%= @products.ref %>
<h2>Price:</h2> <%= @products.price %>

<br>
<%= link_to 'Volver Al Listado', products_path %> <!-- en las rutas no tiene index-->
